#sidenav-1 {
    width: 240px;
    background-color: #212529; 
    color: white;
  }
  
  .sidenav a {
    color: white;
  }
  
  .sidenav a:hover {
    background-color: #343a40;
  }
  
  .sidenav .sidenav-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidenav .sidenav-item {
    padding: 10px 20px;
  }
  
  .sidenav .sidenav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .sidenav .sidenav-link i {
    margin-right: 10px;
  }
  
  
  #main-navbar {
    background-color: #343a40; 
    color: white;
    margin-left: 16%;
    width: 84%;
  }
  
  #main-navbar .navbar-brand img {
    height: 30px;
  }
  
  #main-navbar .navbar-nav .nav-item .nav-link {
    color: gray;
  }
  
  #main-navbar .navbar-nav .nav-item .nav-link:hover {
    color: black; 
  }
  
  #main-navbar .navbar-nav .dropdown-menu {
    background-color: #343a40; 
    color: white;
  }
  
  #main-navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: white;
  }
  
  #main-navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #495057; 
  }
  
  .input-group .form-control {
    background-color: #495057; 
    border: none;
    color: white;
  }
  
  .input-group .input-group-text {
    background-color: #495057; 
    border: none;
    color: white;
  }
  
  .input-group .form-control::placeholder {
    color: #adb5bd; 
  }
  
  .badge-notification {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  